article {
    /* font-family: fangsong; */
}

.md-header__title{
    margin-left: .5rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg{
    width: auto;
}

:root {
    --md-primary-fg-color:        #113f5a;
    --md-primary-fg-color--light: rgba(95, 220, 177, 1);
    --md-primary-fg-color--dark:  #113f5a;
    --md-footer-bg-color: #113f5a;
    --md-footer-bg-color--dark: #113f5a;
}

.md-nav__link--active {
    color: #0089da !important;
}

.md-typeset a {
    color: #eb7633;
}

.md-footer-meta {
    background-color: #113f5a;
}
.md-footer {
    background-color: #113f5a;
}

.md-footer__title {
    font-size: .8rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {    
    width: auto;
    height: 35px;
}

.md-typeset ol, .md-typeset ul {
    margin-left: 0;
}

.md-typeset {
    font-size: .72rem;
    letter-spacing:1.2px;
}

body{
    letter-spacing:1px;
}

a.boxedThumb {
    display:block;
    padding:4px;
    line-height:20px;
    border:1px solid #ddd;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);
    box-shadow:0 1px 3px rgba(0,0,0,0.055);
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
}

a.boxedThumb:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}


video{
    height:auto !important;
}